@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
      font-family: 'DM Sans', sans-serif;
      overflow-x: hidden;
  }

  html {
      scroll-behavior: smooth;
  }

  /* width */
  ::-webkit-scrollbar {
      width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: pink;
      border-radius: 10px;
  }
}

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}
